<!DOCTYPE html>
<html>
  <head>
    <title>Hours of Operation</title>
    </head>
    <body>
      <h1>Monday - Thursday</h1>
      <p>10:00 - 8:00</p>
      <h1>Friday - Sunday</h1>
      <p>9:00 - 9:00</p>
    </body>
  </head>
</html>